<%= form_for(@house) do |f| %>
  <% if @house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% @house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  YOU MUST BE CONNECTED TO THE INTERNET FOR THE ADRESS TO BE CONVERTED TO LATITUDE AND LONGITUDE

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.radio_button(:paid, @house.paid = true) %>
    <%= f.label(:paid, "paid") %>
    <%= f.radio_button(:paid, @house.paid = false) %>
    <%= f.label(:paid, "not paid") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
