<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @start.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @start.description %>
</p>

<p>
  <strong>Private:</strong>
  <%= @start.private %>
</p>

<p>
  <strong>Address:</strong>
  <%= @start.address %>
</p>

<p>
  <strong>Elevation:</strong>
  <%= @start.elevation %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @start.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @start.longitude %>
</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=15&markers=#{@start.latitude},#{@start.longitude}&center=#{@start.latitude},#{@start.longitude}&key=AIzaSyCqWQ3TJM2l6Kb-nxSRUURzLy4agP8-9YQ" %>
<br>


<%= link_to 'Edit', edit_start_path(@start) %> |
<%= link_to 'Back', starts_path %>
